html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

tr {
    width: 100%;
    height: 100%;
}

td {
    width: 50%;
    height: 100%;
    border: 1px solid #333;
    padding: 20px;
    vertical-align: top;
    box-sizing: border-box;
}

.first-cell {
    background-color: #b4d39c;
}

.second-cell {
    background-color: #e9b3a9;
}

@media (max-width: 768px) {
    tr, td {
        display: block;
        width: 100%;
        height: 50%;
    }
}